%footer
  .container
    .row
      .col-sm-3.col-xs-6
        %h5 New York Resturant
        .address 3926 Anmoore Road 
        .address New York, NY 10014
        .address 555-749-1714
      .col-sm-3.col-xs-6
        %h5 France Resturant
        .address 68 rue de la Couronne
        .address 75002 Paris
        .address 02.92.43.69.56
      .col-sm-3.col-xs-6
        %h5 Blog
        %h5 Careers
        %h5 Privacy Policy
        %h5 Contact
      .col-sm-3.col-xs-6
        .logo AnglerCupOfJoe <span>..</span>
        .copyright &copy;All Rights Reserved 2015
        .copyright Find More At <a href="http://farrarhost.com">FarrarHost.com</a>