<div class='container-fluid slider'>
  <div class='row'>
    <div class='col-xs-12'>
      <ul>
        <li>
          <div>
            <img alt='Slider image' class='img-responsive' src='/assets/img/slider.jpeg'>
            <div class='slider-content'>
              <h1>Angler's Cup of Joe is Delicious</h1>
              <h3><div class="dash"></div> this is a pretty nice template converted from a psd <div class="dash"></div></h3>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
