.container-fluid.slider
  .row
    .col-xs-12
      %ul
        %li
          %div
            %img.img-responsive{:src => "/assets/img/slider.jpeg", :alt => "Slider image"}
            .slider-content
              %h1 Angler's Cup of Joe is Delicious
              %h3 <div class="dash"></div> this is a pretty nice template converted from a psd <div class="dash"></div>