.container
  %nav.navbar.navbar-default
    .container
      .navbar-header
        %a.navbar-brand{:href => "#/"}
          AnglerCupOfJoe<span>..</span>
      %div
        %ul.nav.navbar-nav.pull-right
          %li
            %a{:href => "#/"} Our Story
          %li
            %a{:href => "#/"} Menu
          %li
            %a{:href => "#/"} Reservations
          %li
            %a{:href => "#/"} Reviews
